@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    overflow-x: hidden;
}

.section2Homepage_bg{
    background: url(../src/assets/Images/bghome.svg);
}
::-webkit-scrollbar{
    width: 1px;
}